@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

ul li {
  list-style: none;
}

ul li a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 3rem;
  margin: 10px 0;
  padding: 0 20px;
}

ul li:hover ~ .cursor {
  transform: scale(5);
}

.cursor {
  width: 20px;
  height: 20px;
  background-color: #fff;
  position: fixed;
  border-radius: 50px;
  pointer-events: none;
  mix-blend-mode: difference;
}